*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html,
body {
  font-size: 62.5%;
  background-color: #0a090c;
}

.input-box {
  border: 1px solid #2c666e;
  background-color: #fff;
  padding: 5px;
  font: 24px 'Lato', Arial, sans-serif;
  color: #2c666e;
  border-radius: 2px;
  box-sizing: border-box;
  letter-spacing: 1px;
  text-align: center;
}

.main-container {
  background-color: #07393c;
  border-radius: 1rem;
  margin: 3rem auto;
  padding: 3rem;
  width: 80rem;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.row-container {
  margin: 5rem;
  display: flex;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-items: center;
}

.label-wrapper {
  font: 2rem 'Lato', Arial, sans-serif;
  color: #d2bf55;
  letter-spacing: 0.8px;
  margin: 1rem 0;
}


