*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html,
body {
  font-size: 62.5%;
  background-color: #0a090c;
}



.main-container {
  background-color: #07393c;
  border-radius: 1rem;
  margin: 3rem auto;
  padding: 3rem;
  width: 80rem;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}


.input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-items: center;

  font: 2rem 'Lato', Arial, sans-serif;
  color: #d2bf55;
  letter-spacing: 0.8px;
  margin: 4rem 0;
}




